html {
    scroll-behavior: smooth;
    background: rgb(245, 245, 245);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, a, label, button {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Ubuntu', sans-serif;
}

button:focus {outline:0;}